{% load static i18n %}

{% if request.user.is_authenticated %}
 {% if request.user.is_staff %}
  <li class="nav-item">
   {# URL provided by django-allauth/account/urls.py #}
   {# <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a> #}
   <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
  </li>
 {% endif %}
 {#<li class="nav-item">#}
  {# URL provided by django-allauth/account/urls.py #}
  {#<a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>#}
  {#</li>#}
{% endif %}
{% comment %}
 {% else %}
 <li class="nav-item">
   {# URL provided by django-allauth/account/urls.py #}
  <a id="sign-up-link" class="nav-link" href="#">{% trans "Sign Up" %}</a>
 </li>
 <li class="nav-item">
  {# URL provided by django-allauth/account/urls.py #}
  <a id="log-in-link" class="nav-link" href="#">{% trans "Sign In" %}</a>
 </li>
 {% endif %}
{% endcomment %}
