<footer class="navbar custom-dark fixed-bottom">
 <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark custom-dark">
  <div class="collapse navbar-collapse" id="navbarCollapse">
   <ul class="navbar-nav mx-auto">
    <li class="nav-item active">
     <a class="nav-link" href="#">Team <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#">HowTo</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#">About</a>
    </li>
   </ul>
  </div>
 </nav>
</footer>
