{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
 <div class="container">
  <div class="row p-3">
   {% for person in object_list %}
    <div class="person-card col-lg-6 col-sm-12 p-3 position-relative">
     <a href="{{ person.get_absolute_url }}" class="stretched-link text-decoration-none"></a>
     <div class="row">
      <div class="col-2">
       <img src="{{ person.picture.url }}" class="person-pic float-left p-1 rounded-circle" />
      </div>
      <div class="col-10">
       <strong>{{ person.name }}</strong><br />
       <i>{{ person.position }}</i>
      </div>
     </div>
    </div>
   {% endfor %}
  </div>
 </div>
{% endblock content %}
